@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

html{
    scroll-behavior: smooth;
}


li{
    list-style-type: none;
}

p{
    line-height: 1;
    font-size: 16px;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

section{
    background-color: rgb(245, 245, 245);
    transition: all 300ms ease;
}


input,textarea{
    width: 100%;
    background-color: #242424;
    color: white;
    outline: none;
    border: 2px solid #c0c4cc;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 40px;
    margin-top: 8px;
    transition: all 300ms ease;
}

.no-cursor{
    cursor:not-allowed
}

input:hover,textarea:hover{
    border-color: white;
}

input:focus,textarea:focus{
    border-color: #00649D;
}

label{
    font-size: 14px;
    font-weight: bold;
}

textarea{
    resize: vertical;
    height: 130px;
}

.container{
    padding: 50px 0;
    z-index: 100;
}

.row{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

.title{
    font-size: 105px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

.neonblue{
    color:#00649D !important;
    font-weight: bold;
}

.link-hover-effect{
    position: relative;
}

.link-hover-effect:after{
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: black;
    transition: all 300ms ease;
}

.link-hover-effect:hover:after{
    left: 0;
    width: 100%;
}

nav,
.scroll,
.header-content {
    opacity: 1;
    visibility: visible;
    transition: all 300ms 200ms; /* Reduced from 600ms 650ms */
}

.model__open nav,
.model__open .scroll,
.model__open .header-content {
    opacity: 0;
    visibility: hidden;
    transition: all 200ms 100ms; /* Reduced from 400ms 300ms */
}


.click{
    transition: all 300ms ease;
    cursor: pointer;
}

.click:hover{
    transform:scale(1.2);
}

.click:active{
    transform: scale(0.7);
}

.dark-theme .title,
.dark-theme .header-content,
.dark-theme .nav-link-anchor,
.dark-theme .fa-adjust,
.dark-theme .header-para,
.dark-theme .project-title,
.dark-theme .footer__soical--links,
.dark-theme .footer__copyright,
.dark-theme .fa-arrow-up,
.dark-theme .footer__logo--popper{
    color: white;
}

.dark-theme section,
.dark-theme footer{
    background-color: #242424;
}

.dark-theme #personal-logo{
    filter: none;
}

.dark-theme .footer_img{
    filter: invert(0);
}

.dark-theme .scroll-icon{
    border-color: white;
}

.dark-theme .scroll-icon:after,
.dark-theme .link-hover-effect-black:after{
    background-color: white;
}

.dark-theme .link-hover-effect--white:after{
    background-color: white
}

.dark-theme .mail-btn{
    background-color: white;
    color: #242424;
}

/* LANDING */

#Landing-page{
    min-height: 120vh;
}

.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 40px;
    z-index: 100;
}

.header-para{
    font-size: 24px;
    line-height:2;
    max-width: 550px;
    z-index: 100;
}

.social-links{
    display: flex;
    margin-top: 16px;
}

.social-link{
    background-color: #00649D;
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    scale: 1.1;
}

.mail-btn{
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: #242424;
    color: white;
    position: fixed;
    bottom: 32px;
    right: 40px;
    z-index: 200;
    transition: all 300ms ease;
}

.scroll{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform:translateX(-50%);
}

.scroll-icon{
    width: 25px;
    height: 35px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-icon:after{
    content: "";
    background-color: #242424;
    width: 4px;
    height:6px;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
    0%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(-3px);
    }
}

/* NAVIGATION */

#personal-logo{
    filter: invert(1);
    width: 120px;
    height: 120px;
    scale: 1.5;
}

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
}

.nav-links-list{
    display: flex;
}

.nav-link{
    margin: 0 16px;
}

.nav-link-anchor{
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.fa-adjust{
    font-size: 20px;
}


/* MODEL */

.model{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibility 1.5s , z-index 1s,  box-shadow 0.5s ease;
}

.model__open .model{
    z-index: 200;
    visibility: visible;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.55);
}

.model__open .mail-btn{
    transform:scale(0)
}

.model-about,
.model-contact{
    width: 50%;
    padding: 40px 72px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 500ms ease-in;
}


.model-about{
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-110%);
    transition: all 500ms ease;
}


.model__open .model-about,
.model__open .model-contact{
    transform: translateX(0%);
}


.model-contact{
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: translateX(110%);
    transition: all 400ms ease;
}

.model-languages{
    display: flex;
    flex-wrap: wrap;
    scale:0.85;
}

.model-language{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 16px;
    transition: all 300ms ease;
}

.model-language:hover .language-name{
    transform:scale(1);
}

.model-language:hover{
    filter: brightness(90%);
    transform: scale(0.9);
}

.model-language-img{
    width: 100%;
}

.about-title,
.contact-title{
    font-size: 26px;
}

.about-subtitle,
.contact-subtitle{
    font-weight: bold;
    margin: 24px 0 24px 0;
}

.about-para{
    font-weight: 400;
    font-style: italic;
    margin-bottom: 12px;
    line-height: 1.75;
}

.language-name{
    font-size: 14px;
    position: absolute;
    bottom: -10px;
    transform: scale(0);
    transition: all 300ms ease;
}

.form-item{
    margin-bottom: 20px;
}

.contact-submit{
    background-color: #00649D;
    border: 2px solid #00649D;
    color: white;
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    border-radius: 999px;
    padding: 12px 24px;
    font-size: 20px;
    transition: all 300ms ease;
}

.contact-submit:hover{
    border-color: white;
    background-color: transparent;
}

.contact-submit:active{
    color: #00649D;
    border-color: #00649D;
}




.model-overlay-loading{
    background-color: #242424;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    z-index: -1;
}

.fa-hourglass-half{
    animation: hourglass-half 1500ms infinite linear ;
}

@keyframes hourglass-half {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg) ;
    }
}


.model-overlay-success{
    background-color:#00649D;
    font-size: 20px;
    font-weight: 700;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 28px;
    z-index: -1;
}

.model-overlay-visible{
    z-index:1;
    display: flex;
}


.model-close{
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 36px;
    z-index: 100;
}


/* PROJECt */

.project-title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
    position: relative;
    padding-left: 20px;
  }

.project_img {
    width: 100%;
    transition: all 500ms ease;
}

.big-img{
    max-height: 600px;
}
  
.project_wrapper {
    display: flex;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }
  
.project_wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 2;
  }
  
.project:hover .project_wrapper:before {
    opacity: 0.7;
  }
  
.project:hover .project_img {
    transform: scale(1.07);
    filter: blur(5px);
  }
  
.Project-list {
    padding-top: 25px;
}

.project{
    padding-bottom: 120px;
}
  
.project_description {
    position: absolute;
    top: 50%;
    left: 90px;
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 500ms ease;
    transform: translateY(100%);
}


.project:hover .project_description {
    opacity: 1;
    transform: translateY(-40%);
  }
  
.project_description--title {
    font-size: 40px;
  }

.project_description--subtitle{
    margin: 8px 0;
}
  
.project_description--para {
    margin: 16px 0;
    line-height: 1.5;
  }
  
.project_description--link {
    font-size: 20px;
    margin-right: 16px;
    text-decoration: none;

}
  
.project_description--links {
    display: flex;
    gap: 10px;
  }
  
.project_description--title,
.project_description--subtitle,
.project_description--para,
.project_description--link {
    text-align: left;
    color: #fff;
}



.project-arrow-redirect{
    font-size: 35px;
}


/* Footer */

footer {
    background-color: rgb(245,245,245);
    position: relative;
}
  
  .footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8% 0;
  }
  
  .footer_img {
    filter: invert(1);
    width: 200px;
    height: 200px;
  }
  
  .footer__soical--list {
    margin-bottom: 30px;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
  }
  
  .footer__soical--links,
  .footer__logo--popper,
  .footer__copyright {
    color: black;
  }
  
  .footer__logo--popper {
    position: absolute;
    left: 80px;
    bottom: 88px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease-in-out;
  }
  
  .footer__anchor {
    position: relative;
    margin-bottom: 20px;
  }
  .footer__anchor:hover .footer__logo--popper {
    transform: translateX(100px);
    opacity: 1;
  }


/* SHAPE */

.shape{
    position: fixed;
}

.shape-1{
    top:15vh;
    left:20vw;
}
.shape-2{
    top:15vh;
    left:55vw;
}
.shape-3{
    top:15vh;
    left:80vw;
}
.shape-4{
    display: none;
}
.shape-5{
    top:45vh;
    left:55vw;
}
.shape-6{
    top:55vh;
    left:80vw;
}
.shape-7{
    top:75vh;
    left:20vw;
}
.shape-8{
    top:75vh;
    left:55vw;
}
.shape-9{
    top:75vh;
    left:80vw;
}


@media (max-width: 1024px) {
        nav {
          height: 68px;
        }
        h1.title{
          font-size: 65px;
        }
        .project-title{
            font-size: 40px;
        }
        .header-para{
            font-size: 20px;
        }
        .project_description-para {
          font-size: 15px;
        }
        .project_description {
          left: 30px;
          padding-right: 30px;
          padding-bottom: 10px;
        }
        .project_description-title {
          font-size: 12px;
        }
        .model{
            top: 0;
            left: 0;
            transform: none;
            height: auto;
            width: 100%;
            flex-direction: column-reverse;
        }
        .model-about,
        .model-contact{
            width: 100%;
        }
        .shape-5,
        .shape-6{
            top: 30vh;
        }
      }


      @media (max-width: 768px) {
        nav {
          height: 68px;
        }
        h1.title{
          font-size: 50px;
        }
        .project-title{
            font-size: 40px;
        }
        .header-para{
            font-size: 20px;
        }
        .project_description-para {
          font-size: 15px;
        }
        .project_description {
          left: 30px;
          padding-right: 30px;
          padding-bottom: 10px;
        }
        .project_description-title {
          font-size: 12px;
        }
        .model{
            top: 0;
            left: 0;
            transform: none;
            height: auto;
            width: 100%;
            flex-direction: column-reverse;
        }
        .model-about,
        .model-contact{
            width: 100%;
        }
        .shape-5,
        .shape-6{
            top: 30vh;
        }
      }
    
@media (max-width: 480px) {
        h1.title,
        .project-title{
            font-size: 40px;
        }
        .header-para{
            font-size: 16px;
        }
        .mail-btn{
            bottom: 20px;
            right: 20px;
            scale: 0.8;
        }
        .project_description--para {
          display: none;
        }
        .nav-link:first-child{
            display: none;
        }
        .project_description--links {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      
        .project_description--subtitle {
          text-align: center;
          margin: 12px 0;
        }
        .project_description--title {
          line-height: 1;
          font-size: 32px;
          text-align: center;
        }
        .project_description {
          padding: 0;
          left: 0;
          width: 100%;
        }
        .model{
            top: 0;
            left: 0;
            transform: none;
            height:auto;
            width: 100%;
            flex-direction: column-reverse;
        }
        .contact-btn{
            justify-content: center;
        }
        textarea{
            height: 50px;
        }
        .project{
            padding-bottom: 60px;
        }
        .about-title{
            font-size: 20px;
        }
        .about-subtitle,
        .contact-subtitle{
            font-size: 16px;
            margin: 12px;
            text-align: center;
        }
        .about-para{
            font-size: 14px;
        }
        .shape-5,
        .shape-6{
            top: 30vh;
        }
        .scroll-icon,
        .scroll-icon:after{
            scale: 0.8;
        }
}
      
